



var fullRecipeTemplate = `

    <div class="container-fluid" id="fullReceipe" >
        
        <div class="row" >
            <div class="col-sm-12" style="padding: 0">
                <div class="col-sm-9">
                    <h1>My Dinner:
                        <span id="nGuests"></span> </h1>
                </div>
                <div class="col-sm-3" style="padding-top:10px">
                    <button id ="returnToPreviousPageButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>Return to previous page</button>
                </div>

            </div>
        </div>
        
    </div>

`;