
var selectDishesTemplate = `

<!-- right side (Find a dish + food images) -->
 <div class = "col-md-10  addBorder" id="selectDishes">

    <!--search field-->
    <div class= "col-md-12" id="searchField">
        <div class ="col-md-6" id="searchBar">

        </div>
        <div class ="col-md-1" id="space">

        </div>
        <div class ="col-md-5" id="searchButtons">

        </div>
    </div>

    <!-- All Dishes -->
    <div class="row">
        <div id="dishItems" class="col-md-12 " style="padding-top:25px">
            <div id="AllDishes"></div>
        </div>
    </div>                                 
</div>
        
`;

